__pycache__/river_classes.cpython-39.pyc
__pycache__/experiment_utils.cpython-39.pyc
__pycache__/UCRL_SMDP.cpython-39.pyc
numba_code/experiment_results/rs_smdp/nS_8_unif.pkl
numba_code/experiment_results/rs_ucrl_l/nS_5_correct_confidence.pkl
numba_code/experiment_results/rs_ucrl_l/nS_10_correct_confidence.pkl
numba_code/experiment_results/rs_ucrl_l/nS_15_correct_confidence.pkl
numba_code/experiment_results/rs_ucrl_l/nS_20_correct_confidence.pkl
numba_code/experiment_results/rs_ucrl_l/nS_25_correct_confidence.pkl
numba_code/experiment_results/rs_ucrl_l/nS_50_correct_confidence.pkl
numba_code/experiment_results/rs_smdp/nS_8_bin.pkl
numba_code/plots/ratio_of_regrets10.png
numba_code/plots/ratio_of_regrets15.png
numba_code/plots/ratio_of_regrets20.png
numba_code/plots/ratio_of_regrets25.png
numba_code/plots/ratio_of_regrets50.png
numba_code/plots/ucrl_smdp_l_ns_10.png
numba_code/plots/ucrl_smdp_l_ns_15.png
numba_code/plots/ucrl_smdp_l_ns_20.png
numba_code/plots/ucrl_smdp_l_ns_25.png
numba_code/plots/ucrl_smdp_l_ns_50.png
numba_code/plots/ucrl_smdp_ns_10.png
numba_code/plots/ucrl_smdp_ns_15.png
numba_code/plots/ucrl_smdp_ns_20.png
numba_code/plots/ucrl_smdp_ns_25.png
numba_code/plots/ucrl_smdp_ns_50.png
