__pycache__/
numba_code/__pycache__/
non_numba_code/__pycache__/
numba_code/experiment_results/
numba_code/plots/
Ratio_of_regrets.png
ucrl_smdp_l_ns_100.png
ucrl_smdp_l_ns_400.png
ucrl_smdp_ns_100.png
ucrl_smdp_ns_400.png
ucrl_smdp_ns_225.png
ucrl_smdp_l_ns_225.png
experiment_results/gw_ucrl_l/nS_100_correct_confidence.pkl
experiment_results/gw_ucrl_l/nS_225_correct_confidence.pkl
experiment_results/gw_ucrl_l/nS_400_correct_confidence.pkl
experiment_results/bus_opt_rs/bus_ns_20_opt_H_100
experiment_results/bus_opt_rs/bus_ns_10_opt_H_100
experiment_results/bus_opt_rs/concentration_10_opt_H_100
experiment_results/rs_ucrl_l/nS_20_correct_confidence.pkl
experiment_results/rs_ucrl_l/nS_10_correct_confidence.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_9_N10.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_9_N4.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_10_N4.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_11_N4.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_11_N15.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_20_Tmax_19_N10.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_10_N10.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_9_N15.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_11_N10.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_20_Tmax_20_N4.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_10_Tmax_10_N15.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_20_Tmax_19_N4.pkl
experiment_results/bus_opt_rs/concentration_20_opt_H_100
experiment_results/smdpexp3_rs/smpdexp3_ns_20_Tmax_21_N4.pkl
experiment_results/smdpexp3_rs/smpdexp3_ns_20_Tmax_20_N10.pkl
